<div class="sidebar">
  <div class="title">СДП Береке</div>

  <ul class="menu">
    <li class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"
        onclick="location.href='{% url 'home' %}'" style="cursor: pointer;">
      Создать
    </li>
    <li class="{% if request.resolver_match.url_name == 'detail' %}active{% endif %}"
        onclick="location.href='{% url 'detail' %}'" style="cursor: pointer;">
      Действия
    </li>
    <li class="{% if request.resolver_match.url_name == 'schema-redoc' %}active{% endif %}"
        onclick="location.href='{% url 'schema-redoc' %}'" style="cursor: pointer;">
      API SDP-Bereke
    </li>
  </ul>
  <div class="user-name">
    <strong>{{ user.get_full_name|default:user.username }}</strong> |
    <a href="{% url 'logout' %}" style="color: inherit; text-decoration: none;">Выйти</a>
  </div>
</div>